.formWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section input {
  margin-left: 10px;
  color: white;
}
