@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
body {
  background-color: #131313;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: black;
  text-decoration: none;
}
li {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}
ul {
  padding: 0px;
  margin: 0px;
}
